:root {
  --color-white: #FDFDFD;
  --color-black: #0A0A0A;

  --color-primary-50: #FEF0E9;
  --color-primary-100: #FBD1BA;
  --color-primary-200:#F9BB99;
  --color-primary-300:#F79D6A;
  --color-primary-400:#F5894D;
  --color-primary-500:#F36C21;
  --color-primary-600: #DD621E;
  --color-primary-700:#AD4D17;
  --color-primary-800:#863B12;
  --color-primary-900:#662D0E;

  --color-gray-50:#FAFAFA;
  --color-gray-100:#F5F5F5;
  --color-gray-200:#E5E5E5;
  --color-gray-300:#D4D4D4;
  --color-gray-400:#A3A3A3;
  --color-gray-500:#737373;
  --color-gray-600:#525252;
  --color-gray-700:#404040;
  --color-gray-800:#262626;
  --color-gray-900:#171717;

  --color-error-50:#FFE6E6;
  --color-error-100:#FFB0B0;
  --color-error-200: #FF8A8A;
  --color-error-400:#FF3333;
  --color-error-500:#FF0000;
  --color-error-600:#E80000;
  --color-error-800:#8C0000;

  --color-warning-50: #FEF4E6;
  --color-warning-100:#FDDDB3;
  --color-warning-200: #FBCC8E;
  --color-warning-300: #FAB55A;
  --color-warning-500:#F79009;
  --color-warning-800:#884F05;

  --color-success-50:#E8F7F0;
  --color-success-100:#B7E7D1;
  --color-success-200:#94DCBA;
  --color-success-500:#17B26A;
  --color-success-600:#15A260;
  --color-success-700:#107E4B;
  --color-success-800:#0D623A;

  --color-information-50: #E6F2FF;
  --color-information-100: #B0D6FF;
  --color-information-500: #007BFF;
  --color-information-600: #0070E8;

  --color-bci-primary: #00166A;
  --color-bci-secondary: #1156EB;
}
html, body {
    font-family: 'Roboto', sans-serif !important;
}

body.contents {
    /* width: 2040px; */
    width: 100%;
    height: 3800px;
    flex-shrink: 0;
    font-family: 'Roboto', sans-serif;
}

p {
    margin-bottom: 0;
}

/* welcome page */
.contents{
    background-image:url('../images/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.body-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.title-content{
    display: flex;
    align-items: center;
    float: center;
    flex-direction: column;
    gap: 24px;
}

.title-content h1{
    color: var(--Base-Black, #0A0A0A);
    font-family: Roboto;
    font-size: 96px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.48px;
    margin: 0;
}

.title-content p{
    color: var(--Gray-gray-700, #404040);
    text-align: center;
    font-family: Roboto;
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.menu-content{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.card-content{
    display: flex;
    width: 800px;
    height: 800px;
    padding: 24px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    aspect-ratio: 1/1;
    border-radius: var(--Radius-radius-2xl, 24px);
    background: var(--Base-White, #FDFDFD);
    box-shadow: 0 -11.557px 5.779px 0 rgba(0, 0, 0, 0.15) inset, 0 5.779px 5.779px 0 rgba(255, 255, 255, 0.35) inset, 0 5.779px 21.67px 0 rgba(243, 108, 33, 0.15);
}

.card-content img{
    height: 151.8px;
    flex-shrink: 0;
    align-self: stretch;
    aspect-ratio: 160/33;
}

.footer-content{
    display: flex;
    width: 100%;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.footer-content h1{
    color: var(--Base-Black, #0A0A0A);
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.icon-group-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
}

.icon-content{
    display: flex;
    width: 300px;
    height: 135px;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
}

/* header */
header {
    display: flex;
    width: 2120px;
    padding: 80px 40px;
    justify-content: center;
    align-items: center;
}

/* footer */
.footer {
    position: fixed;
    width: 2120px;
    z-index: 10;
}
.footer-black {
    display: flex;
    height: 172px;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: var(--color-gray-700);
}
.footer-gray {
    display: flex;
    padding: 40px 0;
    justify-content: center;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    background: var(--color-gray-100);
}
.btn-navbar {
    display: flex;
    width: 312px;
    padding: 24px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    border-radius: var(--Radius-radius-2xl, 24px);
    border: 4px solid var(--color-gray-200);

    color: var(--color-black);
    text-align: center;
    /* Text/Heading/Heading-4/Medium */
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px; /* 131.25% */
}
.btn-navbar:hover,
.active.btn-navbar {
  background: linear-gradient(94deg, #F5894D -30.73%, #DD621E 129.85%);
  color: var(--color-white);
  text-decoration: none;
}
.btn-navbar:active,
.btn-navbar:focus,
.btn-navbar:active:focus,
.btn-navbar:active:hover,
.btn-navbar:not(:disabled):not(.disabled):active {
  background: linear-gradient(94deg, #F5894D -30.73%, #DD621E 129.85%);
  box-shadow: none;
  color: var(--color-white);
}
.btn-navbar.active svg path {
    fill: #FDFDFD;
}

/* button navbar BCI */
.btn-navbar-bci {
    display: flex;
    width: 312px;
    padding: 24px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    border-radius: var(--Radius-radius-2xl, 24px);
    border: 4px solid var(--color-gray-200);

    color: var(--color-black);
    text-align: center;
    /* Text/Heading/Heading-4/Medium */
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px; /* 131.25% */
}
.btn-navbar-bci:hover,
.active.btn-navbar-bci {
  background: linear-gradient(94deg, #1156EB -30.73%, #00166A 129.85%);
  color: var(--color-white);
  text-decoration: none;
}
.btn-navbar-bci:active,
.btn-navbar-bci:focus,
.btn-navbar-bci:active:focus,
.btn-navbar-bci:active:hover,
.btn-navbar-bci:not(:disabled):not(.disabled):active {
  background: linear-gradient(94deg, #1156EB -30.73%, #00166A 129.85%);
  box-shadow: none;
  color: var(--color-white);
}
.btn-navbar-bci.active svg path {
    fill: #FDFDFD;
}

/* footer BCI */
.footer-blue {
    display: flex;
    height: 176px;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: var(--color-information-100);
}

/* BUTTONS */
.btn-primary {
    display: flex;
    padding: 24px 40px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: var(--Radius-radius-2xl, 24px);
    background: var(--color-primary-500);

    color: var(--color-white);
    /* Text/Heading/Heading-3/Medium */
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px; /* 120% */
}

.btn-primary:hover {
  background: var(--color-primary-600);
  border: none;
  text-decoration: none;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary:not(:disabled):not(.disabled):active {
  background: var(--color-primary-600);
  border: 2px solid var(--color-primary-100);
  box-shadow: none;
  text-decoration: none;
}

/* button BCI */
.btn-secondary {
    display: flex;
    padding: 24px 40px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: var(--Radius-radius-2xl, 24px);
    background: var(--color-bci-secondary);

    color: var(--color-white);
    /* Text/Heading/Heading-3/Medium */
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px; /* 120% */
}

.btn-secondary:hover {
  background: var(--color-bci-secondary);
  border: none;
  text-decoration: none;
}
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:active:focus,
.btn-secondary:active:hover,
.btn-secondary:not(:disabled):not(.disabled):active {
  background: var(--color-bci-secondary);
  /* border: 2px solid var(--color-information-100); */
  box-shadow: none;
  text-decoration: none;
}

/*  COLORS */
.color-primary-500 {
    color: var(--color-primary-500) !important;
}
.color-gray-600 {
    color: var(--color-gray-600) !important;
}
.color-gray-700 {
    color: var(--color-gray-700) !important;
}
.color-gray-800 {
    color: var(--color-gray-800) !important;
}
.color-gray-900 {
    color: var(--color-gray-900) !important;
}
.color-gray-100 {
    color: var(--color-gray-100) !important;
}
.color-white {
    color: var(--color-white) !important;
}
.color-black {
    color: var(--color-black) !important;
}
.color-bci-primary {
    color: var(--color-bci-primary) !important;
}

.bg-gray-200 {
    background: var(--color-gray-200);
}
.bg-gray-700 {
    background: var(--color-gray-700) !important;
}
.bg-primary-500 {
    background: var(--color-primary-500) !important;
}
.bg-bci-secondary{
    background: var(--color-bci-secondary);
}
.bg-success-600 {
    background: var(--color-success-600);
}
.bg-warning-300 {
    background: var(--color-warning-300);
}
.bg-comp-coolant {
    background: #A8C10F;
}

/* MARGINS */
.py-40px {
    padding: 40px 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-col {
    display: flex;
    flex-direction: column;
}

/* FONT SIZE */
.text-124 {
    font-size: 124px;
    font-style: normal;
    line-height: normal;
}
.text-80 {
    font-size: 80px;
    font-style: normal;
    line-height: normal;
}
.text-64 {
    font-size: 64px;
    font-style: normal;
    line-height: normal;
}
.text-48 {
    font-size: 48px;
    font-style: normal;
    line-height: normal;
}
.text-40 {
    font-size: 40px;
    font-style: normal;
    line-height: normal;
}
.text-28 {
    font-size: 28px;
    font-style: normal;
    line-height: normal;
}
.text-24 {
    font-size: 24px;
    font-style: normal;
    line-height: normal;
}
.text-20 {
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}

/* FONT WEIGHT */
.font-light {
   font-weight: 300;
}

.font-regular {
   font-weight: 400;
}

.font-medium {
   font-weight: 500;
}

.font-semibold {
   font-weight: 600;
}

.font-bold {
   font-weight: 700;
}

/* CONTAINER */
.body-container {
    display: flex;
    width: 2120px;
    height: calc(3800px - 704.75px);
    flex-direction: column;
    justify-content: space-between;
    padding: 0 40px;
}
.bci-body-container {
    display: flex;
    width: 2120px;
    height: calc(3800px - 718px);
    flex-direction: column;
    justify-content: space-between;
    padding: 0 40px;
    overflow-y: auto;
}

/* MODAL */
.modal.fade.show .modal-dialog{
    max-width: 2039px;
}
.modal .modal-dialog.modal-stable {
  max-width: 2039px !important;
  width: 2039px;
}
.modal-content {
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

/* CARDS */
.rectangle-card {
    display: flex;
    height: 400px;
    padding: 40px;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    border-radius: 24px;
}

/* ABOUT */
.about-section {
    display: flex;
    width: 2034px;
    padding: 102px 244px 58px 244px;
    justify-content: center;
    align-items: center;

    color: var(--color-gray-700);
    text-align: center;
    font-family: Roboto;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 93.6px */
}
.rectangle-card-img-frame {
    display: flex;
    width: 300px;
    height: 300px;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    aspect-ratio: 1/1;
    border-radius: 24px;
    background: var(--color-white);
}
.rectangle-card img {
    width: 200px;
    height: 200px;
    aspect-ratio: 1/1;
}
.rectangle-card .title {
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.rectangle-card .subtitle {
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px; /* 131.25% */
}
.network .title {
    color: var(--color-black);
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* WAREHOUSE */
.grid-warehouse {
    display: flex;
    height: 1528px;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
    flex-wrap: wrap;
}
.card-warehouse {
    display: flex;
    width: 480px;
    height: 456px;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-shrink: 0;
    border-radius: 24px;
    background: var(--color-white);
    box-shadow: 0 4px 8px 0 #CCC;
}
.facility-images {
    padding: 40px;
    background-color: var(--color-gray-100);
}
.facility-images .image-1 {
    width: 1372px;
    height: 478px;
    flex-shrink: 0;
    border-radius: 24px;
    background-image:url('../images/facility_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.facility-images .image-2 {
    width: 636px;
    height: 405px;
    flex-shrink: 0;
    border-radius: 24px;
    background-image:url('../images/facility_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.facility-images .image-row {
    height: 330.75px;
    flex: 1 0 0;
    border-radius: 24px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.facility-images .image-7 {
    width: 636px;
    height: 403px;
    flex-shrink: 0;
    border-radius: 24px;
    background-image:url('../images/facility_7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#modal-facility .img-fluid {
    border-radius: 24px;
}

/* PRODUCT */
.product-type-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1 0 0;
}
.product-type-section a:hover {
    text-decoration: none;
}
.product-type-card {
    box-shadow: 0 2px 4px 0 #E2E2E2;
    border-radius: 24px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 552px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 124px;
    font-weight: 700;
}

.product-section {
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.product-section .title {
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}
.product-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}
.product-category-card {
    display: flex;
    width: 653.333px;
    min-height: 628.333px;
    padding: 40px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 24px;
    background: var(--color-white);
    box-shadow: 0 4px 8px 0 #CCC;
    font-size: 28px;
    color: var(--color-gray-700);
}
.product-category-card:hover,
.product-category-card:active,
.product-category-card:focus {
    color: var(--color-gray-700);
    text-decoration: none;
    box-shadow: 0 4px 8px 0 #F5894D;
}
.other-product-type-section {
    display: flex;
    padding: 40px;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}
.other-product-type-section a:hover {
    text-decoration: none;
}
.product-type-square-card {
    display: flex;
    height: 492px;
    width: 492px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex: 1 0 0;
    border-radius: 24px;
    box-shadow: 0 2px 4px 0 #E2E2E2;
    background-position: center;

    text-align: center;
    font-size: 80px;
    font-weight: 700;
}
.modal-product-logos {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.product-logo-bg {
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    background: var(--color-white);
    box-shadow: 0 2px 4px 0 #E2E2E2;
}

/* PACKAGING */
.packaging-section {
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}
.packaging-card {
    display: flex;
    width: 306px;
    padding: 12px 16px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    color: var(--color-gray-900);
    font-size: 40px;
    font-weight: 500;
    line-height: 48px; /* 120% */
}
.packaging-img-bg {
    display: flex;
    width: 240px;
    height: 240px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: var(--Radius-radius-2xl, 24px);
    background: var(--color-gray-800);
}
.grid-packaging {
    display: grid;
    height: 2353px;
    padding: 40px;
    row-gap: 40px;
    column-gap: 40px;
    align-self: stretch;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.packaging-img {
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 24px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* SERVICE */
.services-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    justify-content: center;
}
.service-card {
    display: flex;
    width: 653.333px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 24px;
    background: var(--color-white);
    box-shadow: 0 4px 8px 0 #CCC;
    justify-content: center;
}
.service-card:hover,
.service-card:active,
.service-card:focus {
    text-decoration: none;
    box-shadow: 0 4px 8px 0 #F5894D;
}
.service-img-card {
    display: flex;
    height: 399.26px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}
.service-img-modal {
    display: flex;
    height: 621.898px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    aspect-ratio: 54/35;
    border-radius: 24px;
}
.service-flow-section {
    display: flex;
    padding: 40px;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}
.service-flow-card {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 8px;
    background: var(--color-white);
}
.service-flow-num {
    color: var(--Primary-primary-500, #F36C21);
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.5;
    margin-left: auto;
}
.service-flow-icon-bg {
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: var(--Radius-radius-full, 999px);
    border: 12px solid var(--color-primary-500);
    background: var(--color-primary-500);
}

/* SECTOR */
.sector-section {
    display: flex;
    padding-bottom: 40px;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
}
.sector-card {
    display: flex;
    width: 653.333px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 24px;
    border: 1px solid var(--color-gray-300);
    color: var(--color-black);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
}
.sector-img-card {
    flex: 1 0 0;
    align-self: stretch;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

/* BCI */
/* ABOUT */
.bci-about-section {
    display: flex;
    flex-direction: column;
    width: 2040px;
    padding: 80px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--Base-Black, #0A0A0A);
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px; /* 120% */
    letter-spacing: -0.3px;
}
.bci-rectangle-card {
    display: flex;
    height: 273px;
    padding: 40px;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 24px;
    background: var(--color-bci-primary);
    color: var(--color-white);
}
.bci-about-icon-bg {
    display: flex;
    width: 193px;
    padding: 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: var(--Radius-radius-2xl, 24px);
    background: var(--color-white);
}

/* PRODUCT */
.bci-product-category-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1 0 0;
    padding: 40px;
}
.bci-product-category-section a:hover {
    text-decoration: none;
}
.bci-product-category-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 679px;
    color: var(--color-white);
    text-align: center;
    font-size: 124px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.bci-product-section {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
}
.bci-product-card {
    display: flex;
    width: 480px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 12px;
    align-self: stretch;
    border-radius: 24px;
    box-shadow: 0 2px 4px 0 #E2E2E2;
    background: var(--color-white);
    color: var(--color-gray-900);
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.bci-image-wrapper {
  position: relative;   /* container for badge & image */
  width: 100%;
}
.bci-product-img-card {
    width: 100%;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    display: block;
}
.bci-badge-subcategory {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 28px;
    border-radius: 16px;
    position: absolute;
    left: 12px;
    top: 12px;
    color: var(--color-white);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px; /* 150% */
}
.bci-other-product {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
    padding: 40px 0;
}
.bci-other-product a:hover {
    text-decoration: none;
}
.bci-other-product-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 24px;
    width: 653.333px;
    height: 492px;
    background-position: center;
    background-size: cover;
    color: var(--color-white);
    text-align: center;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.bci-product-img {
    flex: 1 0 0;
    align-self: stretch;
    height: 771px;
}
.bci-title-spec {
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 13px;
    align-self: stretch;
    background: var(--color-gray-100);
    color: var(--color-bci-primary);
    font-size: 40px;
    font-weight: 500;
    line-height: 48px; /* 120% */
}
.detail-table{
  width: 100%;
}
.detail-table thead tr{
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    background: var(--Information-information-50, #E6F2FF);
}
.detail-table th{
    padding: 8px;
    color: var(--Brand-BCI-Primary, #00166A);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
}
.detail-table td{
    padding: 4px 16px;
    color: var(--Gray-gray-900, #171717);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 150% */
}
.detail-table tr:nth-child(even){
    background: var(--Gray-gray-50, #FAFAFA);
}

/* PACKAGING */
.bci-packaging-section {
    display: flex;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}
.bci-packaging-card {
    display: flex;
    padding: 12px 16px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    flex: 1 0 0;
    color: var(--color-gray-900);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px; /* 120% */
}
.bci-packaging-img-bg {
    display: flex;
    width: 240px;
    height: 240px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: var(--Radius-radius-2xl, 24px);
    background: var(--color-bci-primary);
}
.bci-grid-packaging {
    display: grid;
    height: 2353px;
    padding: 40px;
    row-gap: 40px;
    column-gap: 40px;
    align-self: stretch;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 1fr));
    background: var(--color-gray-100);
}
.bci-blending-icon-bg {
    display: flex;
    width: 160px;
    height: 160px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    aspect-ratio: 1/1;
    border-radius: 16px;
    border: 2px solid var(--color-gray-300);
    background: var(--color-gray-100);
    box-shadow: 0 4px 8px 0 #CCC;
}
.bci-blending-rectangle {
    display: flex;
    padding: 80px;
    align-items: center;
    gap: 80px;
    align-self: stretch;
    border-radius: 40px;
    border: 8px solid #A4DDFF;
    background: var(--color-white);
}

/* CUSTOMER */
.bci-customer-rectangle-card {
    display: flex;
    width: 1960px;
    align-items: flex-start;
    flex: 1 0 0;
    border-radius: var(--Radius-radius-2xl, 24px);
    box-shadow: 0 4px 16px 0 #BFBFBF;
}
.bci-customer-title-card {
    display: flex;
    width: 348px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 16px;
    background: linear-gradient(0deg, #00166A 0%, #00166A 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;
    color: var(--color-white);
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 58px; /* 120.833% */
}
.bci-customer-value-card {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    padding: 40px;
}